.footer-main-container{
    top: 60px;  /*Ciało strony jest o tyle przesunięte*/
    position: relative;
    width: 100%;
    height: 45px;
    margin-top: 40px;
    float: left;
    background-color: #141414;
}